doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/style.css")
        title register
    body 
        header 
            nav 
                a(href="/") Home 
                a(href="/login") Login  
                a(href="/register") Register 
        main 
            form(action="/register", method="post") 
                input#name(type="text", name="name", placeholder="Name")
                input#dateOfBirth(type="date", name="dateOfBirth")
                input#email(type="text", name="email", placeholder="Email")
                input#password(type="password", name="password", placeholder="Password")
                input(type="submit", value="Register")

    footer 
        p &copy; 2023