* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', cursive;
    font-size: 16px;
    line-height: 1.5;
    background-color: #d6d6d6;
}



a {
    text-decoration: none;
    color: #453d53;
}

header > nav {
    background-color: #453d53;
    color: #fff;
    padding: 1rem;
}

header > nav {
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px;
    align-items: center;
    justify-items: center;
}

header > nav > a {
    color: #fff;
}

header > nav > a:hover {
    color: #ccc;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    width: 300px;
    margin: 0 auto;
}

.landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.landing > h1, p {
    display: block;
}

form > input {
    padding: 0.5rem;
    border: 1px solid #f6f3ff;
}

form > input:focus {
    outline: none;
    border-color: #594f6a;
}

footer {
    background-color: #594f6a;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.page404 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

